<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Formularz 3</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

</head>
<body>
<h1>Formularz 3: Parametry Techniczne</h1>

<form method="post">
    <label>Nazwa parametru:
        <input name="param_name" type="text">
    </label>
    <label>Typ:
        <select name="param_type">
            <option value="Maksymalna">Maksymalna (↑)</option>
            <option value="Minimalna">Minimalna (↓)</option>
            <option value="Nominanta">Nominanta (○)</option>
        </select>
    </label>
    <button name="action" type="submit" value="add">Dodaj</button>
</form>

<h2>Lista parametrów:</h2>
<ul>
    {% for param in technical_params %}
    <li>
        {{ loop.index }}. {{ param.name }} ({{ param.type }})
        <form method="post" style="display:inline;">
            <input name="delete_index" type="hidden" value="{{ loop.index0 }}">
            <button name="action" title="Usuń" type="submit" value="delete">
                🗑
            </button>
        </form>
    </li>
    {% endfor %}
</ul>

{% if technical_params|length > 0 %}
<form method="post">
    <button name="action" type="submit" value="next">Dalej</button>
</form>
{% endif %}
<form action="{{ url_for('back_to_form2') }}" method="post">
    <button type="submit">Wstecz</button>
</form>
</body>
</html>
